.myinput{
  :global {
    .ant-input-affix-wrapper {
      width: 600px;
      height: 50px;
      display: flex;
      justify-content: center;
    }
    .ant-btn{
      height: 50px;
      display: flex;
      justify-content: center;
    }

  }
}


.mytable{
  :global {
    .ant-pro-table{
      margin-top: 80px;
      margin-left: 55%;
    }
    .ant-prp-list{
      margin-left: 55%;
    }

  }
}
